<div
  style="width: 600px; background-color: #F0F2F4; border: 1px solid #F0F2F4; border-radius: 5px; font-family: sans-serif; box-shadow: 0px 2px 1px -1px rgba(0, 0, 0,  0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);">
  <div style="padding: 10px; text-align: center;">
    <h1 style="margin: 0; color: #92123A;">
      SPPSM
    </h1>
  </div>
  <div style="text-align: center; background-color: white;">
    <!-- <img style="width: 350px;" src="https://associados.sppsm.org/assets/logo.png" alt="" /> -->
  </div>
  <div style="padding: 35px; font-size: 16px;">
    <h3 style="margin: 0 0 25px 0;">Bem vindo, {firstName}</h3>
    <h4 style="margin: 0 0 25px 0;">A sua conta de utilizador na SPPSM foi criada com sucesso.</h4>
    <h4 style="margin: 0 0 25px 0;">Dados de acesso:</h4>
    <p>Email: <b>{email}</b></p>
    <p>Senha: <b>{password}</b></p>
  </div>
  <div style="padding: 35px; font-size: 16px;">
    Se recebeu alguma referencia multibanco anteriormente via email, se ainda não pagou, pedimos por favor para não o fazer.<br/>
    Todas as referencias anteriormente geradas foram canceladas e novas foram geradas em substituição.
  </div>
  <div style="display: flex;">
    <a style="margin: 25px; text-decoration: none; color: #92123A; font-weight: bold;"
      href="https://associados.sppsm.org/" target="_black">
      https://associados.sppsm.org/
    </a>
  </div>
</div>
