<div
  style="width: 600px; background-color: #F0F2F4; border: 1px solid #F0F2F4; border-radius: 5px; font-family: sans-serif; box-shadow: 0px 2px 1px -1px rgba(0, 0, 0,  0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);">
  <div style="padding: 10px; text-align: center;">
    <h1 style="margin: 0; color: #92123A;">
      SPPSM
    </h1>
  </div>
  <div style="text-align: center; background-color: white;">
    <img style="width: 350px;" src="https://associados.sppsm.org/assets/logo.png" alt="" />
  </div>
  <div style="padding: 35px; font-size: 16px;">
    <h3 style="margin: 0 0 25px 0;">Referencia de pagamento gerada.</h3>
    <table style="margin-bottom: 45px;">
      <tr>
        <th style="width: 70px; text-align: start;">Quota</th>
        <th style="width: 70px; text-align: start;">Valor</th>
      </tr>
      {quotas}
    </table>
    <img style="width: 200px;" src="https://associados.sppsm.org/assets/mb.png" alt="" />
    <p>Entidade: <b>{ententy}</b></p>
    <p>Referência: <b>{reference}</b></p>
    <p>Valor: <b>{value}€</b></p>
  </div>
  <div style="display: flex;">
    <a style="margin: 25px; text-decoration: none; color: #92123A; font-weight: bold;"
      href="https://associados.sppsm.org/" target="_black">
      https://associados.sppsm.org/
    </a>
  </div>
</div>
